.addTaskContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & .buttonContainer {
    margin-left: 10px;
    & .button {
      color: "#8fd5ff";
      font-size: 26px;
      cursor: pointer;
    }
  }
}
